# Базовый URL сайта (без слэша в конце)
BASE_URL=https://xn--80aackbd0bcms3a1b4gta.xn--p1ai

# Пути
ADMIN_PATH=/admin
LOGIN_PATH=/admin/main/login

# Тестовые учётные данные
SITE_USER=test_user
SITE_PASS=test_password

# Таймаут запроса, сек
TIMEOUT=15

# Проверять ли TLS-сертификат (True/False)
VERIFY_TLS=True

ORG_PATH=/admin/organization
MAX_PAGES=50

VAC_PATH=/admin/vacancy
VAC_OUT_FILE=vacancies.json
VAC_MAX_PAGES=300

CAT_PATH=/admin/vacancy/category/index
CAT_OUT_FILE=vacancy_categories.json
CAT_MAX_PAGES=50